In [ ]:
from GameweekStats import GameweekStats
import requests

In [ ]:
# Credits: https://towardsdatascience.com/fantasy-premier-league-value-analysis-python-tutorial-using-the-fpl-api-8031edfe9910

url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

r = requests.get(url)
json = r.json()
json.keys()

# Loop through events key

- Display the column names
- Filter column names that will be useful

In [21]:
useful_columns = ['name','average_entry_score','highest_score','chip_plays','most_selected',
                  'most_transferred_in','top_element','top_element_info','transfers_made',
                  'most_captained','most_vice_captained']

gameweek_stats = GameweekStats(json['events'], useful_columns)
print(gameweek_stats.events_df.columns)

Index(['name', 'average_entry_score', 'highest_score', 'chip_plays',
       'most_selected', 'most_transferred_in', 'top_element',
       'top_element_info', 'transfers_made', 'most_captained',
       'most_vice_captained'],
      dtype='object')

In [22]:
gameweek_stats.events_df.head(10)

,name,average_entry_score,highest_score,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,Gameweek 1,50,142.0,"[{'chip_name': 'bboost', 'num_played': 112843}...",259.0,12.0,254.0,"{'id': 254, 'points': 20}",0,4.0,4.0
1,Gameweek 2,59,165.0,"[{'chip_name': 'bboost', 'num_played': 94615},...",259.0,302.0,390.0,"{'id': 390, 'points': 24}",14637421,4.0,254.0
2,Gameweek 3,43,119.0,"[{'chip_name': 'bboost', 'num_played': 86797},...",259.0,164.0,224.0,"{'id': 224, 'points': 17}",20387878,272.0,254.0
3,Gameweek 4,48,160.0,"[{'chip_name': 'bboost', 'num_played': 82267},...",272.0,164.0,37.0,"{'id': 37, 'points': 24}",14570655,254.0,272.0
4,Gameweek 5,60,136.0,"[{'chip_name': 'bboost', 'num_played': 80554},...",164.0,390.0,117.0,"{'id': 117, 'points': 16}",18391649,390.0,254.0
5,Gameweek 6,0,NaN,[],NaN,NaN,NaN,None,0,NaN,NaN
6,Gameweek 7,0,NaN,[],NaN,NaN,NaN,None,0,NaN,NaN
7,Gameweek 8,0,NaN,[],NaN,NaN,NaN,None,0,NaN,NaN
8,Gameweek 9,0,NaN,[],NaN,NaN,NaN,None,0,NaN,NaN
9,Gameweek 10,0,NaN,[],NaN,NaN,NaN,None,0,NaN,NaN