In [1]:
from H2HStats import H2HStats
from GameweekStats import GameweekStats
from APIConnector import APIConnector

In [2]:
# Example: https://fantasy.premierleague.com/leagues/738779/standings/h

h2h_stats = H2HStats(738779)
api_connector = APIConnector()
gameweek_stats = GameweekStats(api_connector.get_events_gameweeks())

In [3]:
current_gameweek_index = gameweek_stats.current_gameweek_index()

h2h_stats.extract_results(current_gameweek_index)

columns_filter = ['entry_1_player_name','entry_1_points','entry_2_player_name',
                 'entry_2_points','event']

h2h_stats.filter_columns(columns_filter)

In [4]:
h2h_stats.results_df

,entry_1_player_name,entry_1_points,entry_2_player_name,entry_2_points,event
0,Master Odin,40,Tazeek Bin Abdur Rakib,46,1
1,Narayanan Gunasegaran,25,Tze Chung,45,1
2,Dinesh K,53,Tharmendra Kumar Thakakala,63,1
3,Mamadou Aliou Diallo,79,Gary Vytialingam,69,1
4,Tazeek Bin Abdur Rakib,71,Mamadou Aliou Diallo,43,2
5,Gary Vytialingam,46,Dinesh K,56,2
6,Tharmendra Kumar Thakakala,75,Narayanan Gunasegaran,39,2
7,Tze Chung,77,Master Odin,91,2
8,Narayanan Gunasegaran,38,Tazeek Bin Abdur Rakib,35,3
9,Dinesh K,53,Master Odin,49,3
10,Mamadou Aliou Diallo,27,Tze Chung,37,3
11,Gary Vytialingam,69,Tharmendra Kumar Thakakala,46,3
12,Tazeek Bin Abdur Rakib,74,Gary Vytialingam,43,4
13,Tharmendra Kumar Thakakala,36,Mamadou Aliou Diallo,66,4
14,Tze Chung,65,Dinesh K,21,4
15,Master Odin,28,Narayanan Gunasegaran,35,4